<script setup>
import { reactive } from 'vue'
import Card from 'primevue/card'
import Button from 'primevue/button'
import InputGroup from 'primevue/inputgroup'
import InputGroupAddon from 'primevue/inputgroupaddon'
import InputText from 'primevue/inputtext'
import { useRouter } from 'vue-router'
import { useAuthStore } from '../stores.js'

const router = useRouter()
const authStore = useAuthStore()

const authForm = reactive({
  username: '',
  password: ''
})

async function handleLogin() {
  try {
    await authStore.authenticate(authForm)

    return router.push({ name: 'dashboard' })
  } catch (error) {

  }
}
</script>

<template>
  <div class="flex justify-content-center">
    <Card class="mt-8 w-26rem login">
      <template #title>
        <div class="login-header">
          TurnA
        </div>
      </template>
      <template #content>
        <form @submit.prevent="handleLogin">
          <InputGroup class="mb-4">
            <InputGroupAddon>
              <i class="pi pi-user"></i>
            </InputGroupAddon>
            <InputText
              placeholder="Username"
              :disabled="authStore.loading"
              v-model="authForm.username"
              autocomplete="username"
            />
          </InputGroup>
          <InputGroup>
            <InputGroupAddon>
              <i class="pi pi-lock"></i>
            </InputGroupAddon>
            <InputText
              type="password"
              :disabled="authStore.loading"
              v-model="authForm.password"
              autocomplete="current-password"
            />
          </InputGroup>
        </form>
      </template>
      <template #footer>
        <div class="flex justify-content-end">
          <Button
            :disabled="authStore.loading"
            @click="handleLogin"
          >
            Login
          </Button>
        </div>
      </template>
    </Card>
  </div>
</template>

<style scoped>
.login .login-header {
  text-align: center;
}
</style>
