<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import Button from 'primevue/button'
import MenuBar from 'primevue/menubar'
import Menu from 'primevue/menu'
import Skeleton from 'primevue/skeleton'
import { useAuthStore } from '../stores.js'

const menus = [
  {
    label: 'Dashboard',
    icon: 'pi pi-home',
    route: {
      name: 'dashboard'
    }
  }
]

const userMenus = [
  {
    label: 'Logout',
    command: () => handleLogout()
  }
]

const router = useRouter()
const authStore = useAuthStore()

const userMenu = ref(undefined)

onMounted(async () => {
  await authStore.whoami()
})

function handleToggleUserMenu(e) {
  return userMenu.value.toggle(e)
}

function handleLogout() {
  authStore.logout()

  return router.push({ name: 'login' })
}
</script>

<template>
  <div class="turna-container flex">
    <header class="col-12">
      <div class="flex justify-content-between align-items-center">
        <h1>TurnA</h1>
        <div v-if="!authStore.loading">
          <Button text @click="handleToggleUserMenu" aria-haspopup="true" aria-controls="user-menu">
            <i class="pi pi-user mr-2"/> {{ authStore.currentUser.username }}
          </Button>
          <Menu ref="userMenu" id="user-menu" :model="userMenus" :popup="true" />
        </div>
        <Skeleton
          v-else
          width="8rem"
        />
      </div>
      <MenuBar :model="menus">
        <template #item="{ item, props }">
          <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
            <a :href="href" v-bind="props.action" @click="navigate">
              <span :class="item.icon" />
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </router-link>
        </template>
      </MenuBar>
    </header>
  </div>
</template>
