<script setup>
import THeader from './THeader.vue'

defineProps({
  pageTitle: {
    type: String,
    default: ''
  },
  pageIcon: {
    type: String,
    default: ''
  }
})
</script>

<template>
  <THeader />
  <main class="turna-container mt-5">
    <div class="mx-2 flex align-items-center justify-content-between mb-3">
      <h2 v-if="pageTitle" class="turna-page-title flex align-items-center">
        <i v-if="pageIcon" :class="pageIcon" class="mr-2 turna-page-icon"/> {{ pageTitle }}
      </h2>
      <slot name="toolbar"/>
    </div>
    <slot/>
  </main>
</template>

<style scoped>
.turna-page-icon {
  font-size: 1.5rem;
}

.turna-page-title {
  margin-top: 0;
  margin-bottom: 0;
}
</style>
